@import 'node_modules/bootstrap/scss/nav';
@import 'node_modules/bootstrap/scss/navbar';

// .container-fluid {
//   @include media-breakpoint-up(md) {
//     margin-top: 430px;
//   }
//   margin-top: 100px;
// }

#main-content {
  @include make-row();

  background-color: white;
  padding: 2em;
  margin: 0 auto;
  max-width: 1000px;
}

header {
  @include make-row();
  @extend .justify-content-center;
  #logo-title {
    margin: 0.1em;
  }
}

#desktop-nav {
  text-align: center;
}

nav {
  background-color: white;
  padding: 0;
  padding-bottom: 0.25em;
  ul {
    @extend .navbar-nav;
    margin-top: 0;

    li {
      @extend .nav-item;
      text-align: center;
      font: {
        family: $font-sans;
        size: $font-14;
      }
    }
  }
  a {
    @extend .nav-link;
    padding-bottom: 0.1em;
    color: $fg-color;
    margin: 0 1rem;
    border: {
      bottom: 1px solid rgba(74, 74, 74, 0);
    }
    @include vend-prefix("transition", "border-bottom 0.5s ease-out");

    &:hover {
      color: $fg-color;
      text-decoration: none;
      border-bottom: 1px solid rgba(74, 74, 74, 1.0);
    }
  }

}

.navbar-brand {
  font-family: $font-serif;
  text-align: center;
  font-size: $font-36;
  line-height: 1em;

  img {
    height: 40px;
    padding: 0;
    width: auto;
  }
}

#mobile-nav a.navbar-brand {
  padding: 0;
  margin: 0;
  font-size: $font-30;
}

#desktop-nav, #mobile-nav {
  position: fixed;
}

section {
  @include make-col-ready();
}

.has-sidebar {
  @include make-row();
  margin-bottom: 2em;

  .sidebar {
    @include make-col-ready();

    ul {
      @extend .nav, .flex-md-column;

      list-style: none;
      margin: 0;
      padding: 0;
      li {
        @extend .nav-item;
        margin-bottom: 0.5em;
        font: {
          family: $font-sans;
          size: calculate-em(16px, $font-base-size);
        }

        a {
          @extend .nav-link;
          color: $primary-green;

          &:hover {
            color: $hover-green;
          }
        }
      }
    }

    @include media-breakpoint-up(md) {
      @include make-col(4);
    }
  }

  section {
    @include make-col-ready();

    @include media-breakpoint-up(md) {
      @include make-col(8);
    }

    article {
      margin-bottom: 2em;
    }
  }
}

#vengg-prereqs {
  font-size: calculate-em(16px, 18px);
}

.small-sans {
  font: {
    family: $font-sans;
    size: calculate-em(10px, 18px);
  }
}

#linkedin-badge {
  width: 101px;
}

.svg-container {
  @include media-breakpoint-up(md) {
    height: 430px;
  }
  height: 250px;
}

.svg {
  @include media-breakpoint-up(md) {
    width: 250px;
  }
  width: 130px;
  margin: 0 auto;

  object {
    position: relative;
    left: -20px;
    margin-top: 60px;
  }
}
